@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');





body {
    background: #FFFFFF;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;

    position: relative;
    max-width: 100%;
    height: 100%;
    margin: auto;
    background: #FFFFFF;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

}

img { /*Disables image dragging*/
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}


/* Header */

.container {
    margin: 0 auto;
    max-width: 100%;

}

header {
    background: #b1fc5c;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 40px;
    height: 80px;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0 60px;
    list-style-type: none;
}

nav li {
    display: inline-block;
    right: 20px;
    margin-left: 80px;
    padding-top: 40px;

    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: rgb(250, 81, 2);
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    max-width: 100%;
    background-color: #444;

    position:absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 150ms;
}

nav a:hover::before {
    width:100%;
}


/*STORE PAGE*/

.shop-items {
    width: 80%;
    height: 1000px;
    border-style: solid;
    border-color: green;
    margin: 0 auto;
}

.shop-item {
    position: relative;
    left: 2.5%;
    float: left;

    margin: 20px;
    height: 25em;

    border-style: solid;
    border-color: green;
}

.shop-item img {
    display: flex;
    width: 20em;
    position: relative;
}
.shop-item-details {
    width: 200px;
    height: 100px;
    display: inline-block;
    align-items: center;
    border-style: solid;
    border-color: green;
}
.shop-item-title {
    font-size: 35px;

}

/*END OF STORE PAGE*/






































/*Footer*/
.footer {
    position: relative;
    max-width: 100%;
    height: 650px;
    top: 1060px;

    background: #F3F3F3;


}
.footer ul {
    min-width: 696px;
    list-style: none;
}
.footer li{
    display: inline-block;
    padding-left: 2.5%;
    padding-right: 15%;
}



#footer-links {
    position: relative;
    max-width: 100%;
    height: 84px;
    left: 0px;

    background: #C4C4C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#footer-links ul {
    position: absolute;
    max-width: 100%;
    left: 33%;
    bottom: 20%;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
#footer-links li{
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}



#img-container {
    max-width: 15%;
    display: block;
    margin-left: 40%;
    margin-right: auto;
}

#footer-sign ul img {
    max-width: 8%;
    height: auto;
}
#footer-sign ul{
    position: relative;
    width: 120px;
    height: 24px;
    left: 38%;
    top: 50%;

}
#footer-sign li{
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}

#footer-paragraph {
     position: absolute;
     left: 20.1%;
     right: 20.1%;
     top: 60%;
     bottom: 20%;

     font-style: normal;
     font-weight: normal;
     line-heigh: 14px;
     text-align: center;

     color: #000000;
 }