@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Francois+One&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;

    position: relative;
    max-width: 100%;
    height: 100%;
    margin: auto;
    background: #FFFFFF;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

}

img { /*Disables image dragging*/
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}
/* Header */

section {
    padding: 4rem 0 3rem;
}

.container {
    margin: 0 auto;
    max-width: 100%;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    position: relative;
    left: 0;
    width: 100%;

    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #172339;
    z-index: 4;

    box-shadow: 0px 3px 16px -5px rgba(0,0,0,0.61);
    -webkit-box-shadow: 0px 3px 16px -5px rgba(0,0,0,0.61);
    -moz-box-shadow: 0px 3px 16px -5px rgba(0,0,0,0.61);

    font-size: 1vw;
    font-family: 'Francois One', sans-serif;
}

header img{
    width: 30%;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;
    transition: 300ms;
}

header ul li a:hover, header ul li a.active {
    background: white;
    color: #447caa;
}

#cart-icon {
    position: relative;
    top: 0.2vw;
    font-size:1.8vw;
    cursor: pointer;
    color: white;

}


.bag-quantity {
    position: relative;
    text-align: center;
    color: white;
    font-size:1vw;
    font-weight: 600;
    font-family: 'Press Start 2P', cursive;

}

/*Billing form*/


#close-billing {
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    font-size: 2rem;
    cursor: pointer;
}


.billing-container.disable {
    position: absolute;
    background: rgba(0, 0, 0, 0);

    visibility: hidden;

    transition: .5s;
}

.billing-container {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;

    width: 100%;
    height: 100%;

    z-index: 100;

    transition: 2.5s;

}

.billing-form.disable {
    margin: 20% auto;
    opacity: 0;
}

.billing-form {

    width:  65%;
    height: auto;

    position: sticky;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    margin: 10% auto;

    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 2%;
    overflow: hidden;

    font-family: 'Open Sans', sans-serif;
    z-index: 101;

    opacity: 1;

    transition: 0.5s;
}



.billing-details {
    width: 100%;
    margin: 0 auto;
}

.checkout-form {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(490px,auto));
}

.form {

    padding: 30px 40px;
}

.billing-title {
    background: #447caa;
    border-bottom: 1px solid #F0F0F0;

    text-align: center;
    padding: 20px 40px;
}

.billing-title h2 {
    margin: 0;
}


.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}


.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    border: 1px solid lightgrey;
    border-radius: 4px;
    display: block;
    padding: 10px;
    margin: 0 0 10px 0;
    font-family: inherit;
    font-size: 14px;
    width: 100%;
}

.form-control.success input {
    border-color: springgreen;
}
.form-control.success i.bxs-check-circle {
    color: springgreen;
    visibility: visible;
}

.form-control.error input {
    border-color: indianred;
}

.form-control.error i.bxs-error-circle {
    color: indianred;
    visibility: visible;
}


.form-control i {
    position: absolute;
    top: 36px;
    right: 5px;
    font-size: 25px;
    visibility: hidden;
}

.form-control small {
    position: absolute;
    bottom: 0;
    right: 0;
    visibility: hidden;
}
.form-control.error small {
    color: indianred;
    visibility: visible;
}

#active small {
    font-size: 11px;
    font-weight: 600;
    color: darkgrey;
    visibility: visible;
}


.form-buttons {
    display: grid;
    column-gap: 2.5em;
    grid-template-columns: repeat(2, auto);
}

.form button[type=submit] {
    background-color: darkred;
    border: 2px solid darkred;
    color: white;

    display: block;
    border-radius: 4px;
    margin: 10px auto;

    font-family: inherit;
    font-size: 16px;
    padding: 5px;
    width: 100%;

    cursor: pointer;
}

.form button[type=reset] {
    background-color: grey;
    border: 2px solid grey;
    color: white;

    display: block;
    border-radius: 4px;
    margin: 10px auto;

    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    width: 100%;

    cursor: pointer;
}




/*billing form end*/

/*Credit card styes*/

.card {
    width: 90%;
    height: 90%;

    padding: 50px;
    border: 0.12rem solid grey;

    margin: 30px auto;

}


.card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.card-title {
    font-weight: 600;
    font-size: 1.5vw;
    color: #172339;
    margin: 0 0 3rem 0 ;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.card-col {
    padding-right: 2rem;
    margin-bottom: 2rem;
}

.card-input {

    width: 5vw;

    background: none;
    border: none;
    border-bottom: 0.125rem dashed grey;

    font-size: 1.2rem;
    color: black;

    margin: 0 10px;
    text-align: center;
}

.card-input-large {
    width: 100%;
    font-size: 1.6rem;
    text-align: left;
    padding: 0 10px;
    margin-bottom: 20px;
}

.card-input:focus {
    outline: none;
    border-color: dimgrey;
}

.card-input:disabled {
    background: lightgrey;
    border: 2px solid lightgrey;
    border-radius: 4px;
    cursor: not-allowed;
}

#checkout:disabled {
    background: lightgrey;
    color: grey;
    border: 2px solid lightgrey;
    border-radius: 4px;
    cursor: not-allowed;
}

.billing button[type=checkout] {
    background-color: darkred;
    border: 2px solid darkred;
    color: white;

    display: block;
    border-radius: 4px;
    margin: 10px auto;

    font-family: inherit;
    font-size: 16px;
    padding: 5px;
    width: 100%;

    cursor: pointer;
}


/*end card styles*/


/*Staff*/

.Staff {
    width: 75%;
    margin: 0 auto;
}

.mainStaff {
    width: 15vw;
    max-height: 10vw;

    margin: 40px;
}

.bottomStaff {
    display: grid;
    grid-template-columns: repeat(2, minmax(30px, 18vw));
}
.bottomStaff img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sideStaff {
    margin: 0 5vw;
    width: 50vw;
    font-size: 0.7vw;
}
/*End of Staff*/

/*cart*/
.cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: white;

    z-index: 100;

    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    -webkit-box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    -moz-box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);

    transition: 0.3s;
}

.cart.active {
    right: 0;
}


.cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.cart-box {
   display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.cart-box img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.detail-box {
    display: grid;
    row-gap: 0.5rem;
}

.cart-product-title {
    font-size: 1rem;
    text-transform: uppercase;
}

.cart-quantity {
    border: 1px solid black;
    outline-color: #444444;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}
.cart-remove {
    font-size: 24px;
    color: red;
    cursor: pointer;

}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid black;
}

.total-title {
    font-size: 1rem;
    font-weight: 600;
}

.total-price {
    margin-left: 0.5rem;
}

.btn-buy {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: green;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.btn-buy:hover {
    background: black;
}

#close-cart{
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    cursor: pointer;
}

/* end of header*/





/* Styling for Game */

.game {
    margin-top: 2rem;
}

.image-section {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px,1fr));
    width: 78%;
    height: auto;
    margin: 0 auto;
    border: solid 10px red;
}

.game-box {
    position: relative;
    width: auto;
    margin: 20px;
    height: 25em;
    border: solid 10px pink;

}

.game-box img {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 23em;

}
/* End of styling for Game */


/*STORE PAGE*/

.shop {
    margin-top: 2rem;
}

.section-title {

    width: 80%;
    margin: 0 auto;

    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    font-family: 'Press Start 2P', cursive;


    padding: 1.5rem 0;
    border-bottom: 1px solid black;
}

.shop-items {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    width: 78%;
    height: auto;
    margin: 0 auto;
}

.shop-item {
    position: relative;
    /*left: 2%;*/
    /*float: left;*/
    width: auto;
    margin: 20px;
    height: 25em;


    box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.75);
    transition: 0.3s;
}

.shop-item:hover {
    margin: 10px;
    transition: 0.3s;
}

.shop-item img {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 10em;

}
.shop-item-details {

    position: relative;
    margin: 10px auto;
    text-align: center;
    padding: 50px 20px;
    display: grid;
}
.shop-item-title {
    font-size: 35px;

    font-family: 'Francois One', sans-serif;
}

.shop-item-price {
    font-size: 16px;
    padding: 0 0 10px 0;
    font-family: 'Francois One', sans-serif;
}



.shop-item-button {
    background-color: #447caa; /* Green */
    border: none;
    color: white;
    padding: 10px;

    text-align: center;
    text-decoration: none;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.shop-item-button:hover {
    background: hsl(249,32%, 17%);
    transition: 0.3s;
}


/*stored featured*/


.featured-title {

    width: 80%;
    margin: 0 auto;



    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    padding: 1.5rem 0;
}
.featured-shop-items {
    width: 80vw;
    height: 100%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(2, auto);

    box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.75);
}
.featured-details {
    position: relative;
    margin: auto;
    text-align: center;

    width: auto;
    height: 20vw;
    display: grid;
}
.featured.shop-item-title {
    font-size: 5vw;
}
.featured.shop-item-price {
    font-size: 2vw;
}


.featured-shop-items img {
    display: block;
    width: 40vw;
    height: auto;
}

/*END OF STORE PAGE*/

/*START OF CONTACT PAGE*/
.StaffContactImages {
    width: auto;
    margin: 5px;
    height: 25em;
}
.StaffContactText {

}
h4 {
    display: inline;
}
/*Start of contact form*/
.ContactForm input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
.ContactForm input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
.ContactForm input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.ContactForm {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
/*End of Contact form*/
/*END OF CONTACT PAGE*/



































/*Footer*/
.footer {
    position: relative;
    max-width: 100%;
    height: 650px;
    top: auto;

    background: #F3F3F3;


}
.footer ul {
    min-width: 696px;
    list-style: none;
}
.footer li{
    display: inline-block;
    padding-left: 2.5%;
    padding-right: 15%;
}



#footer-links {
    position: relative;
    max-width: 100%;
    height: 84px;
    left: 0px;

    background: #C4C4C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#footer-links ul {
    position: absolute;
    max-width: 100%;
    left: 33%;
    bottom: 20%;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
#footer-links li{
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}



#img-container {
    max-width: 15%;
    display: block;
    margin-left: 40%;
    margin-right: auto;
}

#footer-sign ul img {
    max-width: 8%;
    height: auto;
}
#footer-sign ul{
    position: relative;
    width: 120px;
    height: 24px;
    left: 38%;
    top: 50%;

}
#footer-sign li{
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}

#footer-paragraph {
     position: absolute;
     left: 20.1%;
     right: 20.1%;
     top: 60%;
     bottom: 20%;

     font-style: normal;
     font-weight: normal;
     line-heigh: 14px;
     text-align: center;

     color: #000000;
 }