@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');





body {
    background:#222;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;

    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;

    background: #FFFFFF;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

img { /*Disables image dragging*/
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}


/* Header */

.container {
    margin: 0 auto;
    width: 100%;
    padding: auto;
}

header {
    background: #b1fc5c;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 0;
    height: 80px;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 40px;

    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: rgb(250, 81, 2);
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444;

    position:absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 150ms;
}

nav a:hover::before {
    width:100%;
}


/*Footer*/
.footer {

    position: absolute;
    width: 100%;
    height: 650px;
    left: 0px;
    top: 1060px;

    background: #F3F3F3;


}
.footer ul {
    min-width: 696px;
    list-style: none;
}
.footer li{
    display: inline-block;
    padding-left: 5%;
    padding-right: 15%;
}


#footer-links {
    position: relative;
    width: 100%;
    height: 84px;
    left: 0px;

    background: #C4C4C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#footer-links ul {
    position: relative;
    left: 35%;
    top: 40%;
    bottom: 17.57%;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
#footer-links li{
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}



#img-container img {
    max-width: 300px;
    height: auto;
    padding-left: 42%;
    top: 20%;
}

#footer-sign ul img {
    max-width: 8%;
    height: auto;
}
#footer-sign ul{
    position: relative;
    width: 120px;
    height: 24px;
    left: 40%;
    top: 50%;

}
#footer-sign li{
    display: inline;
    padding-left: 5px;
    padding-right: 5px;

}#footer-paragraph {
     position: absolute;
     left: 20.1%;
     right: 20.1%;
     top: 60%;
     bottom: 20%;

     font-style: normal;
     font-weight: normal;
     line-heigh: 14px;
     text-align: center;

     color: #000000;

 }